<div class="block-cards">
  <h2 class="block-cards__heading">{{heading}}</h2>
  {{#if intro}}
    <div class="block-cards__intro">
      {{{intro}}}
    </div>
  {{/if}}
  <p class="block-cards__subheading">{{subheading}}</p>
  <div class="columns">
    {{#each cards}}
      <div class="block-cards__card">
        {{#if heading}}
          <h3 class="block-cards__card__heading">{{#if heading/isLink}}<a href="#">{{/if}}{{heading/label}}{{#if heading/isLink}}</a>{{/if}}</h3>
        {{/if}}
        {{#if subheading}}
          <p class="block-cards__card__subheading">
            {{subheading}}
          </p>
        {{/if}}
        {{#if figure}}
          <div class="block-cards__card__media">
            {{ render "@figure" figure }}
          </div>
        {{/if}}
        <div class="block-cards__card__tags">
          {{#each labels}}
            {{ render "@label--large" label }}
          {{/each}}
        </div>
        {{#if cta}}
          <a href="{{cta/href}}" {{#if cta/id}}id="{{cta/id}}"{{/if}} class="block-cards__card__cta" {{#if cta/external}}rel="external"{{/if}}>{{cta/label}}</a>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>
