<div class="beeldelement">
  <div class="beeldelement__inner">
    <div class="beeldelement__column">
      {{{ content }}}
    </div>
    <div class="beeldelement__column">
      <a href="{{cta/href}}" class="{{modifier}}" {{{dataAttributes}}}>{{cta/label}}</a>
    </div>
  </div>
</div>
