<div class="pagination">
  <div class="pagination__index">
    {{#if title}}<{{#if hLevel}}h{{hLevel}}{{else}}h2{{/if}}>{{title}}</{{#if hLevel}}h{{hLevel}}{{else}}h2{{/if}}>{{/if}}
    <ul>
      {{#each pages}}
        <li {{#if currentPage}}aria-current="page"{{/if}} 
            class="{{#if currentPage}}active{{/if}}{{#if @first}} prev{{/if}}{{#if @last}} next{{/if}}">
              {{#if currentPage}}<span class="visually-hidden">Pagina: </span>{{page}}
              {{else}}
                {{#if @first}}<a {{#if id}}id="{{id}}"{{/if}} href="{{href}}"><span class="">Vorige pagina</span></a>
                {{else if @last}}<a {{#if id}}id="{{id}}"{{/if}} href="{{href}}"><span class="">Volgende pagina</span></a>
                {{else}}
                  {{#if href}}
                    <a {{#if id}}id="{{id}}"{{/if}} href="{{href}}"><span class="visually-hidden">Pagina: </span>{{page}}</a>
                  {{else}}
                    {{page}}
                  {{/if}}
                {{/if}}
              {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>
  {{#if pageFilter}}
  <div class="pagination__filter">
    <div class="form__element">
      <label for="select--1">{{ filterLabel }}</label>
      <select id="select--1">
        {{#each filterOptions}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  {{/if}}
</div>
