<div {{#if id}}id="{{id}}"{{/if}} class="video">
	<iframe
		title="{{ videoTitle }}"
		height="315"
		src="{{ videoEmbedURL }}"
		allowfullscreen>
	</iframe>
	<a href="{{ videoURL }}" rel="external"><span class="visually-hidden">Externe link: </span>{{ videoTitle }} bekijken op Youtube</a>
</div>
