{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb merge=true }}
  </div>
</div>

<div class="container" id="zoekopnieuw" data-blocksearch-pageheader>
  {{ render "@block-search" blockSearch merge=true }}
</div>
<div class="container columns columns--sidebar">
  <div class="columns--sidebar__sidebar" role="complementary" data-decorator="add-mobile-foldability" id="toggleable-1">
    <div data-decorator="init-fixedbottom-button">

      <div class="sidebar__section">

        <h2 class="sidebar__header">Filter resultaten</h2>

        <form>

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Documentsoort</legend>
              <div class="form__row">
                {{ render "@subselection-checkbox" }}
              </div>
            </fieldset>
          </div> 

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Rubrieken</legend>
              <div class="form__row">
                {{ render "@subselection-checkbox" scRubriek }}
              </div>
            </fieldset>
          </div> 

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Type organisatie</legend>
              <div class="form__row">
                {{ render "@subselection-checkbox" scOrganisatie }}
              </div>
            </fieldset>
          </div> 
          
          <div class="form__row form__row--large">
            <fieldset>
              <legend>Publicerende organisatie</legend>
              <div class="form__row">
                {{ render "@subselection-checkbox" scPubOrganisatie }}
              </div>
            </fieldset>
          </div> 

          <div class="form__row form__row--large" data-decorator="init-form-conditionals">
            <fieldset>
              <legend>Publicatiedatum</legend>
              <div id="citem-0" class="form__row js-form-conditionals__citem">
                {{render "@input-radio" publicatiedatumContext }}
              </div>
              <div id="citem-1" class="form__row js-form-conditionals__citem columns">
                {{render "@datepicker" publicatieCustomRange merge=true }}
              </div>
            </fieldset>
          </div>

          <div class="form__row form__row--large" data-decorator="init-form-conditionals">
            <fieldset>
              <legend>Documentdatum</legend>
              <div id="citem-10" class="form__row js-form-conditionals__citem">
                {{render "@input-radio" documentdatumContext }}
              </div>
              <div id="citem-11" class="form__row js-form-conditionals__citem columns">
                {{render "@datepicker" documentCustomRange merge=true }}
              </div>
            </fieldset>
          </div>

          <div class="form__row form__row--large">

          {{#> @accordion accordion1 }}
            {{#> @accordion-item item1 }}
              <div class="form__row">
                {{ render "@subselection-checkbox" scOnderwerp }}
              </div>
            {{/@accordion-item}}
            {{#> @accordion-item item2 }}
              <div class="form__row">
                {{ render "@subselection-checkbox" scJaargang }}
              </div>
            {{/@accordion-item}}
            {{#> @accordion-item item3 }}
              <div class="form__row">
                {{ render "@input-text--label" inputNummer merge=true }}
              </div>
            {{/@accordion-item}}
            {{#> @accordion-item item4 }}
              <div class="form__row">
                {{ render "@subselection-checkbox" scSysJaar }}
              </div>
            {{/@accordion-item}}
            {{#> @accordion-item item5 }}
              <div class="form__row">
                {{ render "@input-text--label" inputSysNummer merge=true }}
              </div>
            {{/@accordion-item}}
            {{#> @accordion-item item6 }}
              <div class="form__row">
                {{ render "@input-text--label" inputSysVolgnummer merge=true }}
              </div>
            {{/@accordion-item}}
          {{/@accordion}}

          </div>

          <button type="submit" class="js-fixedbottom-button__button fixedbottom-button__button button button--primary" hidden data-decorator="init-sticky"
          data-config='{"position":"bottom"}'>Opnieuw zoeken</button>

        </form>
      </div>

    </div>

      <div class="sidebar__section">

        <h2 class="sidebar__header">Abonneren</h2>

        <p>
          Blijf op de hoogte van actuele publicaties door u zich te abonneren op deze zoekvraag.
        </p>

        <p>
          {{ render "@link--mail" linkAbonneren merge=true }}<br>
          {{ render "@link--feed" linkRSS }}

        </p>

      </div>

    
  </div>
  <div id="content" role="main">

    <h1>Zoekresultaten
      <span class="h1__sub">1-10 van de 7396 resultaten</span>
    </h1>

    {{ render "@sort" sortContext }}

    {{render "@resultlist" resultsContext }}

    {{render "@pagination" }}

  </div>
</div>

{{ render "@disclaimer" }}

{{ render "@footer" }}
