{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb merge=true }}
  </div>
</div>

<div class="container" id="zoekopnieuw" data-blocksearch-pageheader>
  {{ render "@block-search" blockSearch merge=true }}
</div>
<div class="container columns columns--sidebar">
  <div class="columns--sidebar__sidebar" role="complementary" data-decorator="add-mobile-foldability" id="toggleable-1">
    <div data-decorator="init-fixedbottom-button">

      <div class="sidebar__section">

        <h2 class="sidebar__header">Filter resultaten</h2>

        
            <div class="form__row form__row--large">
              <form>
                <fieldset>
                  <legend>Documentsoort</legend>
                  <div class="form__row">
                    {{ render "@subselection-checkbox" }}
                  </div>
                  {{ render "@button" buttonDocumentsoort }}
                </fieldset>
              </form>
            </div> 

            <div class="form__row form__row--large">
              <form>
                <fieldset>
                  <legend>Rubrieken</legend>
                  <div class="form__row">
                    {{ render "@subselection-checkbox" scRubriek }}
                  </div>
                  {{ render "@button" buttonRubriek }}
                </fieldset>
              </form>
            </div> 

            <div class="form__row form__row--large">
              <form>
                <fieldset>
                  <legend>Type organisatie</legend>
                  <div class="form__row">
                    {{ render "@subselection-checkbox" scOrganisatie }}
                  </div>
                  {{ render "@button" buttonOrganisatie }}
                </fieldset>
              </form>
            </div> 
            
            <div class="form__row form__row--large">
              <form>
                <fieldset>
                  <legend>Publicerende organisatie</legend>
                  <div class="form__row">
                    {{ render "@subselection-checkbox" scPubOrganisatie }}
                  </div>
                  {{ render "@button" buttonPubOrganisatie }}
                </fieldset>
              </form>
            </div> 

            <div class="form__row form__row--large" data-decorator="init-form-conditionals">
              <form>
                <fieldset>
                  <legend>Publicatiedatum</legend>
                  <div id="citem-0" class="form__row js-form-conditionals__citem">
                    {{render "@input-radio" publicatiedatumContext }}
                  </div>
                  <div id="citem-1" class="form__row js-form-conditionals__citem">
                    {{render "@datepicker" publicatieCustomRange merge=true }}
                  </div>
                  {{ render "@button" buttonPublicatiedatum }}
                </fieldset>
              </form>
            </div>

            <div class="form__row form__row--large" data-decorator="init-form-conditionals">
              <form>
                <fieldset>
                  <legend>Documentdatum</legend>
                  <div id="citem-10" class="form__row js-form-conditionals__citem">
                    {{render "@input-radio" documentdatumContext }}
                  </div>
                  <div id="citem-11" class="form__row js-form-conditionals__citem">
                    {{render "@datepicker" documentCustomRange merge=true }}
                  </div>
                  {{ render "@button" buttonDocumentdatum }}
                </fieldset>
              </form>
            </div>

            {{#> @accordion accordion1 }}
              {{#> @accordion-item item1 }}
                <form>
                  <fieldset>
                    <legend class="visually-hidden">Onderwerp</legend>
                    <div class="form__row">
                      {{ render "@subselection-checkbox" scOnderwerp }}
                    </div>
                    {{ render "@button" buttonOnderwerp }}
                  </fieldset>
                </form>
              {{/@accordion-item}}
              {{#> @accordion-item item2 }}
                <form>
                  <fieldset>
                    <legend class="visually-hidden">Jaargang</legend>
                    <div class="form__row">
                      {{ render "@subselection-checkbox" scJaargang }}
                    </div>
                    {{ render "@button" buttonJaargang }}
                  </fieldset>
                </form>
              {{/@accordion-item}}
              {{#> @accordion-item item3 }}
                <form>
                  <fieldset>
                    <legend class="visually-hidden">Nummer</legend>
                    <div class="form__row">
                      {{ render "@input-text--label" inputNummer merge=true }}
                    </div>
                    {{ render "@button" buttonNummer }}
                  </fieldset>
                </form>
              {{/@accordion-item}}
              {{#> @accordion-item item4 }}
                <form>
                  <fieldset>
                    <legend class="visually-hidden">Systematisch jaar</legend>
                    <div class="form__row">
                      {{ render "@subselection-checkbox" scSysJaar }}
                    </div>
                    {{ render "@button" buttonSysJaar }}
                  </fieldset>
                </form>
              {{/@accordion-item}}
              {{#> @accordion-item item5 }}
                <form>
                  <fieldset>
                    <legend class="visually-hidden">Systematisch nummer</legend>
                    <div class="form__row">
                      {{ render "@input-text--label" inputSysNummer merge=true }}
                    </div>
                    {{ render "@button" buttonSysNummer }}
                  </fieldset>
                </form>
              {{/@accordion-item}}
              {{#> @accordion-item item6 }}
                <form>
                  <fieldset>
                    <legend class="visually-hidden">Systematisch volgnummer</legend>
                    <div class="form__row">
                      {{ render "@input-text--label" inputSysVolgnummer merge=true }}
                    </div>
                    {{ render "@button" buttonSysVolgnummer }}
                  </fieldset>
                </form>
              {{/@accordion-item}}
            {{/@accordion}}          

            {{!-- <div class="form__row form__row--large">
              <fieldset>
                <legend>Rubriek</legend>
                {{ render "@facetlinkgroup" fgRubriek }}
              </fieldset>
            </div>

            <div class="form__row form__row--large">
              <fieldset>
                <legend>Rubriek</legend>
                {{ render "@facetlinkgroup" fgRubriek }}
              </fieldset>
            </div>

            <div class="form__row form__row--large">
              <fieldset>
                <legend>Publicerende organisaties</legend>
                {{ render "@facetlinkgroup" fgPubOrga }}
              </fieldset>
            </div>

            <div class="form__row form__row--large">
              <fieldset>
                <legend>Publicatie datum</legend>
                {{ render "@facetlinkgroup" fgPublicatiedatum }}
              </fieldset>
            </div>

            <div class="form__row form__row--large">
              <fieldset>
                <legend>Jaargang</legend>
                {{ render "@facetlinkgroup" fgJaargang }}
              </fieldset>
            </div>

            <div class="form__row form__row--large">
              <fieldset>
                <legend>Onderwerp</legend>
                {{ render "@facetlinkgroup" fgOnderwerp }}
              </fieldset>
            </div> --}}

        

      </div>

      <div class="sidebar__section">

        <h2 class="sidebar__header">Abonneren</h2>

        <p>
          Blijf op de hoogte van actuele publicaties door u zich te abonneren op deze zoekvraag.
        </p>

        <p>
          {{ render "@link--mail" linkAbonneren merge=true }}<br>
          {{ render "@link--feed" linkRSS }}

        </p>

      </div>

    </div>
  </div>
  <div id="content" role="main">

    {{!-- {{ render "@alert--info" alertSruQuery merge=true }} --}}

    <h1>Zoekresultaten
      <span class="h1__sub">1-10 van de 7396 resultaten</span>
    </h1>

    {{ render "@sort" sortContext }}

    {{render "@resultlist" resultsContext }}

    {{render "@pagination" }}

  </div>
</div>

{{ render "@disclaimer" }}

{{ render "@footer" }}
