{{ render "@header" headerContext merge="true" }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb }}
  </div>
</div>



<div class="container row row--heading" id="content">
  {{ render "@alert--warning" alertToekomstig merge=true }}
  <h1>Wet- en regelgeving</h1>
</div>

<form data-decorator="init-form-bwbvalidation" data-bwbvalidation-form="toekomstig">
  <div class="container columns row">
    <div>
      <div class="form__chapter__heading">
        <h2 class="">Kies een soort regeling</h2>
        {{ render "@tooltip" tt1 }}
      </div>
      <fieldset class="form__element checkboxgroup">
        <legend class="visually-hidden">Welke typen regelingen wilt u meenemen in de zoekresultaten?</legend>
        <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierStandaard_valideerRegelingen" data-validation-field="AlleSoorten" class="form__error" style="display:none;">Geen regelingsoort geselecteerd.</p>
        <ul class="list--unstyled" id="soortCategorienLijst">
          <li>
            <label for="AlleSoorten">
              <input id="AlleSoorten" type="checkbox" name="name" data-decorator="check-all" data-for="which-types" />Alle
              soorten regelingen of:
            </label>
            <ul>
              <li>
                <label for="Verdrag">
                  <input id="Verdrag" type="checkbox" name="name" class="verdragen regelingsoort" data-set="which-types" />Verdragen
                </label>
              </li>
              <li>
                <label for="Wetten">
                  <input id="Wetten" type="checkbox" name="name" class="wetten regelingsoort" checked="checked" data-set="which-types" />Wetten
                </label>
              </li>
              <li>
                <label for="AMvB">
                  <input id="AMvB" name="name" type="checkbox" class="regelingsoort" checked="checked" data-set="which-types" />AMvB's en andere
                  Koninklijke besluiten
                </label>
              </li>
              <li>
                <label for="MinR" class="inline-block">
                  <input id="MinR" type="checkbox" name="name" class="regelingsoort" checked="checked" data-set="which-types" />Ministeri&euml;le regelingen
                </label>
                {{ render "@tooltip" tt2 }}
              </li>
              <li>
                <label for="Beleid">
                  <input id="Beleid" type="checkbox" name="name" class="regelingsoort" data-set="which-types" />Beleidsregels rijksdienst
                </label>
              </li>
              <li>
                <label for="Circulaires">
                  <input id="Circulaires" type="checkbox" name="name" class="regelingsoort" data-set="which-types" />Circulaires rijksdienst
                </label>
              </li>
              <li>
                <label for="ZBO">
                  <input id="ZBO" type="checkbox" name="name" class="regelingsoort" data-set="which-types" />Regelingen zelfstandige
                  bestuursorganen (ZBO's)
                </label>
              </li>
              <li>
                <label for="Bedrijf">
                  <input id="Bedrijf" type="checkbox" name="name" class="regelingsoort" data-set="which-types" />Regelingen publieke organisatie
                  voor beroep en bedrijf
                </label>
              </li>
              <li>
                <label for="Reglementen">
                  <input id="Reglementen" type="checkbox" name="name" class="regelingsoort" data-set="which-types" />Reglementen van de
                  Staten-Generaal
                </label>
              </li>
            </ul>
          </li>
        </ul>
      </fieldset>

      <fieldset class="form__element checkboxgroup inline-group">
        <legend class="visually-hidden">Specifieker zoeken</legend>
        <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierStandaard_valideerBES" data-validation-field="OokBES" class="form__error" style="display:none;">U moet één van de volgende keuzes selecteren: 'Ook zoeken in regelingen BES' of 'Alleen zoeken in regelingen BES'.</p>
        <ul class="list--unstyled">
          <li class="separator">
            <label for="OokBES" class="inline-block">
              <input id="OokBES" type="checkbox" name="name" />Ook zoeken in regelingen Bonaire, Sint Eustatius en Saba
            </label>
            {{ render "@tooltip" tt3 }}
          </li>
          <li>
            <label for="AlleenBES" class="inline-block">
              <input id="AlleenBES" type="checkbox" name="name" />Alleen zoeken in regelingen Bonaire, Sint Eustatius en
              Saba
            </label>
            {{ render "@tooltip" tt4 }}
          </li>
        </ul>
      </fieldset>
    </div>

    <div>
      <div class="form__chapter__heading">
        <h2>Zoek op woord of zinsdeel</h2>
        {{ render "@tooltip" tt45 }}
      </div>
      <div class="form__element">
        <div class="form__element__label">
          <label for="ZoekOp_Titel">In de titel</label>
          {{ render "@tooltip" tt5 }}
        </div>
        <div class="form__element__inputs">
          <input name="name" type="text" id="ZoekOp_Titel" class="input" placeholder="Bijv: bestuursrecht" />
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierStandaard_valideerTitel" data-validation-field="ZoekOp_Titel" class="form__error" style="display:none;"></p>

          <div class="form__element checkboxgroup inline-group">
            <ul class="list--unstyled">
              <li>
                <label for="ZoekOp_TitelExact">
                  <input id="ZoekOp_TitelExact" type="checkbox" name="name" checked="checked" data-handler="toggle-option"
                    data-for="ZoekOp_TitelAfkorting" />Exact zoeken
                </label>
              </li>
              <li>
                <label for="ZoekOp_TitelAfkorting">
                  <input id="ZoekOp_TitelAfkorting" type="checkbox" name="name" />Afkorting of volledige titel
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form__element">
        <div class="form__element__label">
          <label for="ZoekOp_Tekst">In de tekst</label>
          {{ render "@tooltip" tt6 }}
        </div>
        <div class="form__element__inputs">
          <input name="name" type="text" id="ZoekOp_Tekst" class="input" placeholder="Bijv: toeslag" />
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierStandaard_valideerTekst" data-validation-field="ZoekOp_Tekst" class="form__error" style="display:none;"></p>

          <div class="form__element checkboxgroup">
            <label for="ZoekOp_TekstExact">
              <input id="ZoekOp_TekstExact" type="checkbox" name="name" checked="checked" />Exact zoeken
            </label>
          </div>
        </div>
      </div>

      <div class="form__element">
        <div class="form__element__label">
          <label for="ZoekOp_Artikelnummer">Artikelnummer</label>
          {{ render "@tooltip" tt7 }}
        </div>
        <div class="form__element__inputs">
          <input name="name" type="text" id="ZoekOp_Artikelnummer" class="input input--small" placeholder="Bijv: 3.7a" />
          <fieldset class="form__element radiogroup inline-group">
            <legend class="visually-hidden">Hoe wilt u zoeken </legend>
            <label for="ZoekOp_ArtikelnummerArtikel">
              <input id="ZoekOp_ArtikelnummerArtikel" type="radio" name="abc" value="ZoekOp_ArtikelnummerArtikel"
                checked="checked" />Artikel
            </label>
            <label for="ZoekOp_ArtikelnummerBijlage">
              <input id="ZoekOp_ArtikelnummerBijlage" type="radio" name="abc"
                value="ZoekOp_ArtikelnummerBijlage" />Bijlage (niet voor verdragen)
            </label>
          </fieldset>
        </div>
      </div>

      <div class="form__chapter__heading">
        <h2 class="">Zoek op publicatie / nummer</h2>
      </div>

      <div class="form__element">
        <div class="form__element__label">
          <span class="form__label form__label--accent">Gepubliceerd in</span>
          {{ render "@tooltip" tt14 }}
        </div>
        <div class="form__element__inputs">
          {{ render "@select-custom" sc1 }}

          {{ render "@input-text" inputtext1 merge=true }}

          {{ render "@input-text" inputtext2 merge=true }}

          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerBronPublicatie" data-validation-field="ZoekOp_BronPublicatie" class="form__error" style="display:none;">Bij zoeken op publicatiebron moet u een publicatieblad en een jaar en/of nummer opgeven.</p>
          {{!-- <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerBronPublicatieJaarEnNummer" data-validation-field="ZoekOp_BronPublicatieNummer" class="form__error" style="display:none;">U heeft geen geldig Publicatienummer ingevoerd</p> --}}
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerBronPublicatieJaar" data-validation-field="ZoekOp_BronPublicatieJaar" class="form__error" style="display:none;">U heeft geen geldig Publicatiejaar ingevoerd</p>
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerBronPublicatieJaarEnPublicatie" data-validation-field="ZoekOp_BronPublicatieJaar" class="form__error" style="display:none;">U kunt alleen op publicatiebron zoeken indien u een publicatieblad heeft opgegeven.</p>
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerBronPublicatieNummerEnPublicatie" data-validation-field="ZoekOp_BronPublicatieNummer" class="form__error" style="display:none;">U kunt alleen op publicatiebron zoeken indien u een publicatieblad heeft opgegeven.</p>
          {{!-- <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerBronPublicatieNummer" data-validation-field="ZoekOp_BronPublicatieNummer" class="form__error" style="display:none;">Ongeldig publicatienummer opgegeven.</p> --}}

        </div>
      </div>

      <div class="form__element">
        <div class="form__element__label">
          <label for="ZoekOp_Kamerstuknummer">Kamerstuknummer</label>
          {{ render "@tooltip" tt19 }}
        </div>
        <div class="form__element__inputs">
          <input name="name" type="text" id="ZoekOp_Kamerstuknummer" class="input--small" />
        </div>
      </div>

      <div class="form__element">
        <div class="form__element__label">
          <label for="ZoekOp_BWBID">BWB-ID</label>

          {{ render "@tooltip" tt18 }}
        </div>
        <div class="form__element__inputs">
          <input name="name" type="text" id="ZoekOp_BWBID" class="input--small" />
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerBWBID" data-validation-field="ZoekOp_BWBID" class="form__error" style="display:none;">U heeft geen geldig BWB-ID ingevoerd.</p>
        </div>
      </div>

      <div class="form__element">
        <div class="form__element__label">
          <label for="ZoekOp_Kenmerk">Kenmerk regeling</label>
          {{ render "@tooltip" tt20 }}
        </div>
        <div class="form__element__inputs">
          <input name="name" type="text" id="ZoekOp_Kenmerk" class="input--small" />
        </div>
      </div>




      
      {{ render "@button" btnReset merge=true }}
      {{ render "@button--primary" btnSubmit merge=true }}
    </div>
  </div>
</form>

<div class="container row">
  <p>De informatie in dit onderdeel vormt geen bekendmaking in de zin van de Grondwet. Alleen publicatie in het
    Tractatenblad, het Staatsblad, de Staatscourant en andere vanwege de overheid verkrijgbaar gestelde publicatiebladen
    heeft een officieel karakter.</p>
</div>

{{ render "@footer" }}
