{{#if range}}
  <div class="form__row">
    <label class="form__label--accent" for="{{#if rangeInput1/id}}{{rangeInput1/id}}{{else}}input--1{{/if}}">{{#if rangeInput/label}}{{rangeInput/label}}{{else}}Van{{/if}}</label>
    <div class="datepicker">

      <input type="date" {{#if required}}required{{/if}} value="{{#if rangeInput1/value}}{{rangeInput1/value}}{{else}}2015-02-13{{/if}}" data-date="{{#if rangeInput1/datadate}}{{rangeInput1/datadate}}{{else}}13-02-2015{{/if}}" class="datepicker__input" data-decorator="init-datepicker"
        data-config='{ "dateFormat" : "{{#if configDateFormat}}{{configDateFormat}}{{else}}dd-mm-yy{{/if}}", "range" : "true", "rangePosition": "from", "rangeRelation":"#{{#if rangeInput2/id}}{{rangeInput2/id}}{{else}}input--2{{/if}}" }' id="{{#if rangeInput1/id}}{{rangeInput1/id}}{{else}}input--1{{/if}}" data-placeholder="{{ fieldPlaceholder }}" />
    </div>
  </div>
  <div class="form__row">
    <label class="form__label--accent" for="{{#if rangeInput2/id}}{{rangeInput2/id}}{{else}}input--2{{/if}}">{{#if rangeLabel2}}{{rangeLabel2}}{{else}}Tot{{/if}}</label>
    <div class="datepicker">

      <input type="date" {{#if required}}required{{/if}} value="{{#if rangeInput2/value}}{{rangeInput2/value}}{{else}}2015-02-13{{/if}}" data-date="{{#if rangeInput2/datadate}}{{rangeInput2/datadate}}{{else}}13-02-2015{{/if}}" class="datepicker__input" data-decorator="init-datepicker"
        data-config='{ "dateFormat" : "{{#if configDateFormat}}{{configDateFormat}}{{else}}dd-mm-yy{{/if}}", "range" : "true", "rangePosition": "to", "rangeRelation":"#{{#if rangeInput1/id}}{{rangeInput1/id}}{{else}}input--1{{/if}}" }' id="{{#if rangeInput2/id}}{{rangeInput2/id}}{{else}}input--2{{/if}}" data-placeholder="{{ fieldPlaceholder2 }}" />
    </div>
  </div>

{{else}}
  {{#if haslabel}}
    <label class="form__label{{#if labelmodifier}} form__label--{{labelmodifier}}{{/if}}" for="input--{{id}}">{{label}}</label>
  {{/if}}
  <div class="datepicker">
    <input type="date" {{#if required}}required{{/if}} {{#if disabled}}disabled{{/if}} value="{{value}}" name="{{name}}" data-date="{{datavalue}}" class="datepicker__input {{#if inputclass}}{{inputclass}}{{/if}}" data-decorator="init-datepicker"
      data-config='{ {{#if generateHiddenField}}"generateHiddenField": {{generateHiddenField}}, {{/if}} "dateFormat" : "{{#if configDateFormat}}{{configDateFormat}}{{else}}dd-mm-yy{{/if}}"{{#if yearrange}}, "yearrange": "{{yearrange}}"{{/if}} }' id="input--{{ id }}" data-placeholder="{{ fieldPlaceholder }}" />
      {{#if generateHiddenField}}{{else}}<input type="hidden" name="date-input--{{ id }}" value="{{value}}" class="datepicker__hiddenfield">{{/if}}
  </div>
{{/if}}
{{#if selectToday}}
  <a {{#if todayId}}id="{{todayId}}"{{/if}} href="#" data-handler="select-today" data-for="input--{{id}}">Vandaag</a>
{{/if}}

