<div class="passwordstrength" data-decorator="init-passwordstrength" class="{{modifier}}">
  <div id="{{regexContainer/id}}" class="passwordstrength__regexcontainer js-passwordstrength__regexcontainer {{regexContainer/modifier}}">
    <div>
      {{#if regexContainer/description}}
        {{{regexContainer/description}}}
      {{/if}}
      <ul class="passwordstrength__regexcontainer__regexoptions">
        {{#each regexContainer/regexOptions}}
        <li data-regex="{{regex}}" data-regex-label="">{{label}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="form__row">
    {{render "@input-text--password" newPWInput }}
  </div>
  {{#if regexContainerDuplicate}}
    <div class="passwordstrength__regexcontainer js-passwordstrength__duplicateregexcontainer {{regexContainerDuplicatemodifier}}"></div>
  {{/if}}
</div>




