{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb merge=true }}
  </div>
</div>

<div class="container" role="main" id="content">
  <div class="row row--spacer">

    {{#> @jumbotron jumbotronContext }}
 
        <form class="form form__row form__row--medium">
          <fieldset>
            <legend class="visually-hidden">Doorzoek de overheidsdocumenten</legend>
            <div class="form__row form__row--medium">
              {{render "@input-text" inputSearchContext }}
            </div>
            <div class="form__rowsubmit">
              <div class="form__rowsubmit__item">
                {{ render "@link--pijl-beneden-(rechts)" linkAndereOverheidsinformatie merge=true }}
              </div>
              <div class="form__rowsubmit__item">
                {{ render "@button--primary" btnSubmit merge=true }}
              </div>
            </div>
          </fieldset>
        </form>

    {{/@jumbotron}}

  </div>
  <div class="row">   
    <div class="row row--large">
      <div class="columns columns--dominant">
        <div class="column">
          {{!-- {{render "@block" blockIntro }} --}}
          {{#> @block blockIntro }}
            <p>Overheid.nl is de wegwijzer naar informatie en diensten van alle overheidsorganisaties in Nederland. Deze website is een initiatief van het ministerie van Binnenlandse Zaken en Koninkrijksrelaties in samenwerking met: de andere ministeries, de Eerste- en Tweede Kamer en gemeenten, provincies, waterschappen en gemeenschappelijke regelingen.</p>
            {{ render "@button--secondary-icon-cta" button merge=true }}
          {{/@block}}
        </div>
        {{#> @block blockBurger }}
          {{ render "@list--action" listBurger merge=true }}
        {{/@block}}
      </div>
    </div>
  </div>

  <div class="row" id="andereoverheidsinformatie">

    <p class="p p--accent">Informatie van alle overheden</p>
    <h2 class="row__heading">Ga snel naar</h2>

    <div class="columns">
      <div class="column">
        <h3>Dienstverlening</h3>
        <p>
          Informatie die u helpt als u de overheid nodig heeft.
        </p>
        {{ render "@list--action" listDienstverlening merge=true }}
      </div>
      <div class="column">
        <h3>Publicaties</h3>
        <p>
          Officiële publicaties van de overheid.
        </p>
        {{ render "@list--action" listPublicaties merge=true }}
      </div>
      <div class="column">
        <h3>Wet- en regelgeving</h3>
        <p>
          Wet- en regelgeving geldend op nationaal en lokaal niveau.
        </p>
        {{ render "@list--action" listWER merge=true }}
      </div>
    </div>
  
  </div>

</div>

{{ render "@footer" }}
