{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb merge=true }}
  </div>
</div>

<div class="container" role="main" id="content">
  
  <div class="row row--container u-margin-top-48">
    {{ render "@link--terug-naar" linkTerug merge=true }}
    <div class="columns">
      <div class="column">
        <h1>Gemeente Rotterdam</h1>
        <p><img src="/images/temp/logo-rotterdam.jpg" alt="Logo: Gemeente Rotterdam"/></p>
      </div>
      <div class="column">
        <p>
          In de gemeente Rotterdam maken verschillende overheidsinstanties informatie bekend die effect hebben op u en uw omgeving. Of het nu gaat om een bouwvergunning of informatie over nieuwe regelgeving in uw stadscentrum, op overheid.nl vindt u alle informatie die u nodig heeft. 
        </p>
        <p>
          {{ render "@link--cta" linkIntro merge=true }}
        </p>
      </div>
    </div>
  </div>

  <div class="row row--large">
    {{#> @block blockIntro }}{{/@block}}
  </div>
  <div class="row row--container">
    <div class="columns">
      <div class="column">
        <h3>Berichten over uw buurt</h3>
        {{ render "@list--action" listBoub merge=true }}
        <p>{{ render "@link--cta" linkCta1 merge=true }}</p>
      </div>
      <div class="column">
        <h3>Lokale wet- en regelgeving</h3>
        {{ render "@list--action" listCvdr merge=true }}
        <p>{{ render "@link--cta" linkCta2 merge=true }}</p>
      </div>
    </div>
  </div>

  {{#> @row rowDiensten merge=true }}
    {{ render "@list--themas" listDiensten merge=true }}
  {{/@row}}
  
  <div class="row row--container">
    {{#> @jumbotron jumbotron2Context }}
      <form class="form" data-decorator="init-form-validation">
        <fieldset>
          <legend class="visually-hidden">Meld je aan voor de emailservice</legend>
          <div class="form__row">
            {{ render "@input-inputsubmit" inputNewsletter merge=true }}
          </div>
        </fieldset>
      </form>
    {{/@jumbotron}}
  </div>

  

</div>

{{ render "@footer" }}
