{{ render "@header" header merge=true }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container columns columns--sticky-sidebar row" data-decorator="init-scroll-chapter">

  <div class="columns--sticky-sidebar__sidebar" data-decorator="stick-sidebar add-mobile-foldability" data-config='{"scrollContentElement":".js-scrollContentElement"}' id="toggleable-1">
    <div>
      <p>
        <a href="#" class="icon icon--arrow-cta-right">Terug naar zoekresultaten</a>
      </p>
      <div class="scrollContentReceiver"></div>
      {{render "@nav" navToeContext }}
      {{!-- {{render "@nav" navWetContext }} --}}
    </div>
  </div>

  <div role="main" id="content" class="content content--publication">

    {{ render "@pageactions" pageactions }}

    {{!-- https://lokaleregelgeving.overheid.nl/CVDR620100/2?titel=PZH-2018-661534998&datumrange=op&datumop=1-11-2021&date-input--2=1-11-2021&show-wti=true --}}

    <div id="modal-1" class="modal modal--off-screen" hidden role="alert">
      <div class="modal__inner">
        <div class="modal__content">
          <h2>Permanente link</h2>

          <h3>Kopieer de regeling naar uw clipboard </h3>
          <div class="row">
              {{render "@copydata" }}
          </div>
          <h3>Verfijn in Linktool </h3>
          <p>Ga naar de
            <a href="http://linkeddata-acc.overheid.nl/front/portal/linktool-bwb-verfijnen?ext-id=http%3a%2f%2fwetten.overheid.nl%2fid%2fBWBR0032203%2f2016-07-01%2f0%2fDeel1&amp;geldigheidsdatum=2016-07-01&amp;zichtdatum=2016-07-01"
              id="aLinktoolurl" rel="external" target="_blank">Linktool</a>
          </p>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">
          <span class="visually-hidden">sluiten</span>
        </button>
      </div>
    </div>

    <div class="row row--large">
      <div class="js-scrollContentElement">
        <h1 class="h2">Besluit van Geduputeerde Staten van de provincie Zuid-Holland van 2 oktober 2018, PZH-2018-661534998, DOS-2016-0005086, tot vaststelling van de deelplafonds 2019 paragraaf 2.11 van de Subsidieregeling groen Zuid-Holland 2016</h1>
        <p><span class="label label--info label--large"><i>Geldend van 01-01-2019 t/m heden</i></span></p>
      </div>
    </div>



     <h2>Gegevens van de regeling</h2>

     <h3>Algemeen</h3>

    <table class="table__data-overview">
      <tbody>
        <tr>
          <th scope="row">Overheidsorganisatie</th>
          <td>Zuid-Holland</td>
        </tr>
        <tr>
          <th scope="row">Organisatietype</th>
          <td>Provincie</td>
        </tr>
        <tr>
          <th scope="row">Officiële naam regeling</th>
          <td>Besluit van Geduputeerde Staten van de provincie Zuid-Holland van 2 oktober 2018, PZH-2018-661534998, DOS-2016-0005086, tot vaststelling van de deelplafonds 2019 paragraaf 2.11 van de Subsidieregeling groen Zuid-Holland 2016</td>
        </tr>
        <tr>
          <th scope="row">Citeertitel</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Vastgesteld door</th>
          <td>gedeputeerde staten</td>
        </tr>
        <tr>
          <th scope="row">Onderwerp</th>
          <td>milieu</td>
        </tr>
        <tr>
          <th scope="row">Eigen onderwerp</th>
          <td>Natuur en Milieu</td>
        </tr>
      </tbody>
    </table>

    <h3>Wettelijke grondslag(en) of bevoegdheid waarop de regeling is gebaseerd</h3>
    <p><a href="#">http://decentrale.regelgeving.overheid.nl/cvdr/XHTMLoutput/Historie/Zuid-Holland/468224/CVDR468224_1.html</a></p>

    <h3 class="">Opmerkingen met betrekking tot de regeling</h3>
    <p>
      Dit besluit treedt in werking, op het tijdstip dat het besluit van Provinciale Staten tot het vaststellen van hoofdplafond voor het jaar 2019voor paragraaf 2.11van de Subsidieregeling groen Zuid-Holland 2016, als onderdeel van de begroting 2019, inwerking treedt.
    </p>


    <h3 class="inline-block">Overzicht van in de tekst verwerkte wijzigingen</h3>
    {{ render "@tooltip" tt1 }}

    <div>
      <div class="table__container">
        <table class="table__data-overview">
          <tbody>
            <tr>
                <th scope="col">
                  <p>Datum inwerkingtreding</p>
                </th>
                <th scope="col">
                  <p>Terugwerkende kracht tot en met</p>
                </th>
                <th scope="col">
                  <p>Datum uitwerkingtreding</p>
                </th>
                <th scope="col">
                  <p>Betreft</p>
                </th>
                <th scope="col">
                  <p>Datum ondertekening</p>
                  <p>Bron bekendmaking</p>
                </th>
                <th scope="col">
                  <p>Kenmerk voorstel</p>
                </th>
            </tr>
            <tr class="current">
                <td><a href="/CVDR620100/2">07-03-2019</a></td>
                <td></td>
                <td></td>
                <td>gewijzigde regeling</td>
                <td>
                  <p>22-01-2019</p>
                  <p><a href="https://zoek.officielebekendmakingen.nl/prb-2019-1649.html">prb-2019-1649</a></p>
                </td>
                <td>PZH-2018-661534998</td>
            </tr>
            <tr>
                <td><a href="/CVDR620100/1">12-01-2019</a></td>
                <td></td>
                <td>07-03-2019</td>
                <td>Nieuw besluit</td>
                <td>
                  <p>02-10-2018</p>
                  <p><a href="https://zoek.officielebekendmakingen.nl/prb-2019-166.html">prb-2019-166</a></p>
                </td>
                <td>PZH-2018-661534998</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="row row--large">
      {{ render "@alert" alertFoutief }}
    </div>


</div>

</div>

{{ render "@footer" }}
