{{ render "@header" header merge=true }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container columns columns--sticky-sidebar row" data-decorator="init-scroll-chapter">

  <div class="columns--sticky-sidebar__sidebar" data-decorator="stick-sidebar add-mobile-foldability"
    data-config='{"scrollContentElement":".js-scrollContentElement"}' id="toggleable-1">
    <div>
      <p>
        <a href="#" class="icon icon--arrow-cta-right">Terug naar zoekresultaten</a>
      </p>
      <div class="scrollContentReceiver"></div>
      {{render "@nav" navToeContext }}
      {{!-- {{render "@nav" navToe2Context }} --}}

      <h2>Inhoudsopgave</h2>
      {{ render "@treeview" }}

    </div>
  </div>

  <!-- <div role="main" id="content" class="content content--publication"> -->
  <div role="main" id="content" class="">

    {{ render "@pageactions" pageactions }}

    <div id="modal-1" class="modal modal--off-screen" hidden role="alert">
      <div class="modal__inner">
        <div class="modal__content">
          <h2>Permanente link</h2>

          <h3>Kopieer de regeling naar uw clipboard </h3>
          <div class="row">
            {{render "@copydata" }}
          </div>
          <h3>Verfijn in Linktool </h3>
          <p>Ga naar de
            <a href="http://linkeddata-acc.overheid.nl/front/portal/linktool-bwb-verfijnen?ext-id=http%3a%2f%2fwetten.overheid.nl%2fid%2fBWBR0032203%2f2016-07-01%2f0%2fDeel1&amp;geldigheidsdatum=2016-07-01&amp;zichtdatum=2016-07-01"
              id="aLinktoolurl" rel="external" target="_blank">Linktool</a>
          </p>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">
          <span class="visually-hidden">sluiten</span>
        </button>
      </div>
    </div>

    <div xmlns="http://www.w3.org/1999/xhtml" id="broodtekst" class="v1"><a id="BesluitCompact"></a>
      <div class="js-scrollContentElement">
        <h1 class="doc"><a id="longTitle"></a>
          Omgevingsplan gemeente Delfzijl (Geonovum-versie)
        </h1>
        <p><span class="label label--info label--lg"><i>Geldend van 15-04-2021 t/m heden</i></span></p>
      </div>

      <section xmlns="" class="section-chapter js-scrollSection" id="d88910e3202">
        <h2 xmlns="http://www.w3.org/1999/xhtml" class="docHoofdstuk"><a id="chp_1"></a><a
            id="gm1979_2__chp_1"></a><span>HOOFDSTUK </span><span>1 </span><span>ALGEMEEN</span></h2>
        <div xmlns="http://www.w3.org/1999/xhtml">
          <h3 class="docArtikel"><a id="chp_1__art_1.1"></a><a id="gm1979_2__chp_1__art_1.1"></a><span>Artikel
            </span><span>1.1 </span><span>Begripsbepalingen</span></h3>
          <ul class="list-custom list-custom--size-xs">
            <li class="list-custom__item"><a id="chp_1__art_1.1__para_1"></a><a
                id="gm1979_2__chp_1__art_1.1__para_1"></a><span class="list-custom__itemtype">1.</span>
              <p>Dit is een versie waarbij de activiteiten weerzijn aangevuld. Begripsbepalingen die,
                op de dag van de inwerkingtreding van de Omgevingswet, zijn opgenomen in de bijlage
                bij de Omgevingswet en in bijlage I bij het Besluit activiteiten leefomgeving, bijlage
                I bij het Besluit bouwwerken leefomgeving, bijlage I bij het Besluit kwaliteit leefomgeving,
                bijlage I bij het Omgevingsbesluit en bijlage I bij de Omgevingsregeling, zijn van
                toepassing op hoofdstuk 22 van dit
                omgevingsplan.</p>
            </li>
            <li class="list-custom__item"><a id="chp_1__art_1.1__para_2"></a><a
                id="gm1979_2__chp_1__art_1.1__para_2"></a><span class="list-custom__itemtype">2.</span>
              <p>Bijlage I bij dit omgevingsplan bevat begripsbepalingen voor de toepassing van hoofdstuk
                22 van dit omgevingsplan.</p>
            </li>
          </ul>
        </div>
        <div xmlns="http://www.w3.org/1999/xhtml">
          <h3 class="docArtikel"><a id="chp_1__art_1.2"></a><a id="gm1979_2__chp_1__art_1.2"></a><span>Artikel
            </span><span>1.2 </span><span>Meet- en rekenbepalingen</span></h3>
          <div>
            <p>Bij toepassing van deze regels wordt als volgt gemeten:</p>
            <ul class="list-custom list-custom--size-xs">
              <li><a id="chp_1__art_1.2__list_o_1__item_1"></a><a
                  id="gm1979_2__chp_1__art_1.2__list_o_1__item_1"></a><span class="list-custom__itemtype">1.</span>
                <p>de bouwhoogte van een bouwwerk: <br>vanaf het peil tot aan het hoogste punt van een gebouw of van een
                  bouwwerk, geen gebouw
                  zijnde, met uitzondering van ondergeschikte bouwonderdelen, zoals schoorstenen, antennes,
                  en naar de aard daarmee gelijk te stellen bouwonderdelen;</p>
              </li>
              <li><a id="chp_1__art_1.2__list_o_1__item_2"></a><a
                  id="gm1979_2__chp_1__art_1.2__list_o_1__item_2"></a><span class="list-custom__itemtype">2.</span>
                <p>de bouwhoogte van een hijsinstallatie c.q. hijskraan: <br>vanaf het peil tot aan het hoogste vaste
                  punt van de installatie.</p>
              </li>
              <li><a id="chp_1__art_1.2__list_o_1__item_3"></a><a
                  id="gm1979_2__chp_1__art_1.2__list_o_1__item_3"></a><span class="list-custom__itemtype">3.</span>
                <p>de dakhelling:<br>langs het dakvlak ten opzichte van het horizontale vlak;</p>
              </li>
              <li><a id="chp_1__art_1.2__list_o_1__item_4"></a><a
                  id="gm1979_2__chp_1__art_1.2__list_o_1__item_4"></a><span class="list-custom__itemtype">4.</span>
                <p>de goothoogte van een bouwwerk:<br>vanaf het peil tot aan de bovenkant van de goot, c.q. de
                  druiplijn, het boeibord,
                  of een daarmee gelijk te stellen constructiedeel;</p>
              </li>
              <li><a id="chp_1__art_1.2__list_o_1__item_5"></a><a
                  id="gm1979_2__chp_1__art_1.2__list_o_1__item_5"></a><span class="list-custom__itemtype">5.</span>
                <p>de inhoud van een bouwwerk: <br>tussen de onderzijde van de begane grondvloer, de buitenzijde van de
                  gevels (en/of
                  het hart van de scheidingsmuren) en de buitenzijde van daken en dakkapellen;</p>
              </li>
              <li><a id="chp_1__art_1.2__list_o_1__item_6"></a><a
                  id="gm1979_2__chp_1__art_1.2__list_o_1__item_6"></a><span class="list-custom__itemtype">6.</span>
                <p>de oppervlakte van een bouwwerk: <br>tussen de buitenwerkse gevelvlakken en/of het hart van de
                  scheidingsmuren, neerwaarts
                  geprojecteerd op het gemiddelde niveau van het afgewerkte bouwterrein ter plaatse
                  van het bouwwerk.</p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section xmlns="" class="section-chapter js-scrollSection" id="d88910e3305">
        <h2 xmlns="http://www.w3.org/1999/xhtml" class="docHoofdstuk"><a id="chp_2"></a><a
            id="gm1979_2__chp_2"></a><span>HOOFDSTUK </span><span>2 </span><span>Programma’s</span></h2>
        <div xmlns="http://www.w3.org/1999/xhtml" data-element="Afdeling">
          <h3 class="docAfdeling"><a id="chp_2__subchp_2.1"></a><a id="gm1979_2__chp_2__subchp_2.1"></a><span>Afdeling
            </span><span>2.1 </span><span>Programma’s met programmatische aanpak</span></h3>
          <p>[Gereserveerd]</p>
        </div>
      </section>
      <div data-element="Bijlage">

        <h3 class="docBijlage"><a id="recital_o_1__cmp_o_1"></a><a id="gm1979_1__recital_o_1__cmp_o_1"></a><span>De
            bijlage voor Raymond</span></h3>

        <div data-element="Divisietekst">

          <p>Nou Raymond, je wilde een Bijlage binnen een Toelichting, het kostte eventjes tijd,
            maar hier heb je 'm!</p>
          <p>Hopelijk kun je hier mee uit de voeten!</p>
        </div>

      </div>
      <ul class="list-custom footnotes">
        <li class="list-custom__item" id="N1"><span class="list-custom__itembullet">1</span>
          <p>1Classificatie volgens de Europese overeenkomst van 30&nbsp;september 1957 betreffende
            het internationaal vervoer van gevaarlijke stoffen over de weg (Trb.&nbsp;1959, 171). <a href="#N1-link"
              class="reference">Terug naar link van noot.</a></p>
        </li>
        <li class="list-custom__item" id="n0001"><span class="list-custom__itembullet">1</span>
          <p><a href="https://zoek.officielebekendmakingen.nl/stb-2018-292.html">Stb. 2018, nr. 292</a>, p. 384 e.v. <a
              href="#n0001-link" class="reference">Terug naar link van noot.</a></p>
        </li>
        <li class="list-custom__item" id="n0002"><span class="list-custom__itembullet">2</span>
          <p><a href="https://zoek.officielebekendmakingen.nl/stb-2018-293.html">Stb. 2018, 293</a>, p. 526–527. <a
              href="#n0002-link" class="reference">Terug naar link van noot.</a></p>
        </li>
        <li class="list-custom__item" id="n0003"><span class="list-custom__itembullet">3</span>
          <p>Artikel 5: «Iedere Partij verplicht zich ertoe de verplaatsing van een beschermd monument
            of van een deel daarvan te verbieden, behalve indien zulks dringend is vereist voor
            het behoud van dit monument. In dat geval neemt de bevoegde autoriteit de nodige voorzorgsmaatregelen
            betreffende het demonteren, het overbrengen en het herbouwen van het monument op een
            geschikte plaats.» Voor rijksmonumenten is dit geregeld in artikel 8:82 van het Besluit
            kwaliteit leefomgeving. <a href="#n0003-link" class="reference">Terug naar link van noot.</a></p>
        </li>
      </ul>
    </div>


    <div class="row row--large">
      {{ render "@alert" alertFoutief }}
    </div>


  </div>

</div>

{{ render "@footer" }}