<div class="toast" data-decorator="init-toast">
    {{#if trigger}}<button class="toast-trigger" type="button" aria-label="{{trigger/ariaLabel}}" {{#if option/isPressed}}aria-pressed="true"{{/if}} {{{dataAttributes}}}>{{ trigger/label }}</button>{{/if}}
    <div {{#if id}}id="{{id}}"{{/if}} role="alert" aria-hidden="true" aria-live="assertive" aria-atomic="true" class="toast-message {{ message/state }} {{ message/modifier }} {{#if message/variant}}toast-message--{{message/variant}}{{/if}}">
        <div class="toast-message__body">
            {{#if_eq message/variant 'warning'}}
                <span class="visually-hidden">Let op: </span>
            {{/if_eq}}
            {{#if_eq message/variant 'default'}}
                <span class="visually-hidden">Notificatie: </span>
            {{/if_eq}}
            {{#if_eq message/variant 'success'}}
                <span class="visually-hidden">Succesvol: </span>
            {{/if_eq}}
            {{#if_eq message/variant 'info'}}
                <span class="visually-hidden">Ter informatie: </span>
            {{/if_eq}}
            {{#if_eq message/variant 'update'}}
                <span class="visually-hidden">Update: </span>
            {{/if_eq}}

            {{#if message/heading}}<h2 class="toast-message__body-heading">{{{ message/heading }}}</h2>{{/if}}
            
            <div class="toast-message__body-content">
                {{#if message/text}}
                    {{{ message/text }}}
                {{/if}}
                {{#> @partial-block}}
                {{/ @partial-block}}
            </div>

        </div>
    </div>
</div>
